img {
	max-width: 100%;
	height: auto;
}
#header{
	padding-top: 20px;
	padding-bottom: 20px;
}
#main-story{

	font-family: acumin-pro, sans-serif;
	font-size: 1.25em;
	color: #fff;
	position: relative;
	padding-bottom: 30px;

}

#intro-text{
	padding-top: 12px;
	padding-bottom: 12px;
}
#header-text{
	position: absolute;
	z-index: 999;
	top: 0;
}
#header{
	text-align: center;
}
.Ahead img{
	max-width: 250px;
	padding-bottom: 15px;
}
.gold-button{
	border-radius: 4px;
	padding: 2px;
	background-color: #E6AC10;
}
.newsletter {
  font-family: acumin-pro, sans-serif;
  text-align: center;

}
.newsletter h3{
	font-family: acumin-pro-condensed, sans-serif;
	font-weight: 700;
}
.story-content{
	text-align: left;
}
.newsletter p{
		color: #4D4D4D;
}
.other-story{
  text-align: center;
  padding-bottom: 15px;
}
.other-story h3 {
  color: #6D8D33;
}
.other-story p {
  color: #4D4D4D;
}
.footer {
	background-color: #7F7F7F;
	color: #fff;
}
.footer p{
	color: #fff;
}
.footer input{
	color: #4D4D4D;
}
.mig-footer-link{
	display: inline-block;
	position: relative;
	float: right;
	right: 30px;
	max-width: 120px;
	background-color: #7F7F7F;
}
.citations{
	font-size: 0.8em;
}
